@{
    Layout = "_BaseLayout";
}

@model Pizza

<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="@Model.Image"/>

            <h2>@Model.Title</h2>
            <p>@Model.Description</p>
            
            <p>
                <strong>Categoria:</strong>
            @Model.Category.Title
            </p>
            <p>
                <strong>Tags:</strong>
                @foreach(Tag tag in Model.Tags){
                    <div> <label>@tag.Title</label></div>
                }
            </p>

        </div>
    </div>
</div>
